<div class="text-center">
<h3>Click <b><a (click)="login()">here</a></b> to log in</h3>
</div>
<hr/>
<div class="form form-horizontal">

  <div class="form-group">
    <label class="col-md-2 right control-label">Client ID</label>
    <div class="col-md-10">
      <input class="form-control" name="clientId" [(ngModel)]="clientId">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 right control-label">Login URL</label>
    <div class="col-md-10">
      <input class="form-control" name="loginUrl" [(ngModel)]="loginUrl">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 right control-label">Redirect URI</label>
    <div class="col-md-10">
      <input class="form-control" name="redirectUri" [(ngModel)]="redirectUri">
    </div>
  </div>
</div>
