<div style="text-align:center; padding: 50px;">
    <img width="50" src="https://gitlab.com/uploads/system/group/avatar/6543/gitlab-logo-square.png" />
  <h2 style="color: dimgray;">
    GitLab OAuth <i>Implicit Grant</i>
  </h2>
</div>

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <router-outlet></router-outlet>
  </div>
</div>


