<div class="row">

  <h3>Hello</h3>

  <hr/>

  <div class="form form-horizontal">

    <div class="form-group">
      <label class="col-md-2 control-label">Token</label>
      <div class="col-md-10">
        <input class="form-control" name="token" [(ngModel)]="token" readonly>
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label class="col-md-2 control-label">Username</label>-->
      <!--<div class="col-md-10">-->
        <!--<input class="form-control" name="username" [(ngModel)]="user.username" readonly>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label class="col-md-2 control-label">Email</label>-->
      <!--<div class="col-md-10">-->
        <!--<input class="form-control" name="email" [(ngModel)]="user.email" readonly>-->
      <!--</div>-->
    <!--</div>-->

  </div>

  <hr/>
  <div class="text-center">
    Click <b><a (click)="logout()">here</a></b> here to log out.
  </div>
</div>
